.vheight-100 {
    min-height: 100vh;
}

/* Styles related to NavBar */
.navbar-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.below-nav {
    padding-top: 5rem;
}

.selectable-group * {
    background-color: transparent;
}

.selectable-group *:hover {
    background-color: lightblue;
    color: white;
}


#filter-list {
    padding-left: 1rem;
    padding-right: 1rem;
}


.fab {
    position: fixed;
    height: 3rem;
    width: 3rem;
    bottom: 0;
    right: 0;
    margin: 2rem;
    padding: 0rem;
    border-radius: 50%;
}


ul.film-list > li {
    padding: 1rem;
}

ul.film-list > li input {
    margin: 0.5rem;
}




.rating {
    transform: rotate(180deg);
    text-align: start;
}

.rating > input {
    display: none;
}

.rating > label {
    transform: rotate(180deg);
    font-size: larger;
}

.rating > label::before {
    content: "★";
    color: yellow;
    position: absolute;
    opacity: 0;
}


.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}


.rating > input:checked ~ label:before {
    opacity: 1 !important;
}

.film-title > svg {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    border-radius: 10%;
    margin: 0rem 1rem 0rem 1rem;
}

.film-title > svg:hover {
    background-color: lightgray;
}